.hidden {
  display: none;
}

.App {
  overflow: hidden;
}

.App-header {
  height: 44px;
  line-height: 40px;
  padding: 1px 10px 0 10px;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 0.5px solid #dedede;
}

.scrollable-area {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
